body {
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center
}

#outputText {
    font-size: 3em;
    background-color: black;
}

#mybutton {
    font-size: 1em;
    
}